In [11]:
import pandas as pd

#Importo el archivo de GAMES
games=pd.read_csv("Archivos_Comprimidos/games.csv",encoding="latin-1")

#Importo el archivo de REVIEWS
reviews_prueba= pd.read_parquet("Archivos_Comprimidos/reviews_final.parquet")

#Importo el archivo de ITEMS
items=pd.read_csv("Archivos_Comprimidos/items.csv",encoding="latin-1")

#DataFrame joineado para funciones 1) y 2). Voy a unir games con items

In [12]:
# Pruebo todos los archivos
# Games:
games.head(5)

,genres,app_name,date,price,item_id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140.0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,Free To Play,643980.0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,Free to Play,670290.0
3,"['Action', 'Adventure', 'Casual']",å¼¹ç¸äºº2222,2017,0.99,767400.0
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,3.99,772540.0

In [13]:
# Items:
items.head(5)

             user_id  item_id                  item_name  playtime_forever
0  76561197970982479     10.0             Counter-Strike               6.0
1  76561197970982479     20.0      Team Fortress Classic               0.0
2  76561197970982479     30.0              Day of Defeat               7.0
3  76561197970982479     40.0         Deathmatch Classic               0.0
4  76561197970982479     50.0  Half-Life: Opposing Force               0.0

In [14]:
# Reviews
reviews_prueba.head(5)

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.
2,76561197970982479,2011.0,43110,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014.0,251610,I know what you think when you see this title ...
4,js41637,2013.0,227300,For a simple (it's actually not all that simpl...

In [15]:
#Join los dfs: "items" con "games"
#En la tabla items tengo la cantidad de horas jugadas para cada usuario por cada juego (item)
#Asocio a esta tabla el genero del juego
#Las uno mediante item_id 

df= pd.merge(items, games, on='item_id', how='inner')

df.head(3)   #df que voy a utlizar en la funcion

,user_id,item_id,item_name,playtime_forever,genres,app_name,date,price
0,76561197970982479,10.0,Counter-Strike,6.0,['Action'],Counter-Strike,2000,9.99
1,js41637,10.0,Counter-Strike,0.0,['Action'],Counter-Strike,2000,9.99
2,Riot-Punch,10.0,Counter-Strike,0.0,['Action'],Counter-Strike,2000,9.99

In [7]:
#Primera Funcion 
def PlayTimeGenre(genero):


#df[genres] contiene una lista en cada fila,la cual contiene los generos corresp. al juego
#Tengo que pasar todo a minusculas para que las palabras sean interpretadas correctamente si tienen dif en may y min.
#Voy a realizar esto con dos ciclos anidados: fila por fila, y dentro de cada fila recorro la lista. 

generos_min = []                       #Lista de listas,donde guardo los generos de todas las filas en minusculas
for fila in df['genres']:              #Recorro la columna del df de generos
    
    generos_fila_minusculas = []    #Guarda todos los valores de la fila que esta recorriendo pasados a minuscula.
                                    #Por cada fila, va resetearse y empezar denuevo vacia.
    for genero in fila:
            
        generos_fila_minusculas.append(genero.lower())      #Pasa el valor a minusculas y lo agrega en la lista
            
    generos_min.append(generos_fila_minusculas) #Cuando se termina de cargas la lista, la agrego en la columna

df["genres"]=generos_min        #Reasigno la columna de genero

df.head(15)

,user_id,item_id,item_name,playtime_forever,genres,app_name,date,price
0,76561197970982479,10.0,Counter-Strike,6.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
1,js41637,10.0,Counter-Strike,0.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
2,Riot-Punch,10.0,Counter-Strike,0.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
3,doctr,10.0,Counter-Strike,93.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
4,corrupted_soul,10.0,Counter-Strike,108.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
5,cadmusthreepointoh,10.0,Counter-Strike,0.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
6,76561198089393905,10.0,Counter-Strike,0.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
7,WeiEDKrSat,10.0,Counter-Strike,328.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
8,death-hunter,10.0,Counter-Strike,6275.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
9,ABSOLUTLY_NOTHING,10.0,Counter-Strike,0.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
10,Fr0stedLine,10.0,Counter-Strike,580.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
11,76561198100701221,10.0,Counter-Strike,13.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
12,VVillis,10.0,Counter-Strike,0.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
13,diego9031,10.0,Counter-Strike,154.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99
14,jarrodtrim,10.0,Counter-Strike,337.0,"[[, ', a, c, t, i, o, n, ', ]]",Counter-Strike,2000,9.99

In [16]:
df["genres"].apply(lambda x:(genero.lower() in x) )

df["genres"].tail(5)

4142658             ['Racing', 'Simulation', 'Sports']
4142659                         ['Adventure', 'Indie']
4142660                                   ['Strategy']
4142661    ['Action', 'Casual', 'Indie', 'Simulation']
4142662                  ['Adventure', 'Indie', 'RPG']
Name: genres, dtype: object

In [ ]:
#Segunda Funcion 
def UserForGenre(genero):