In [68]:
import pandas as pd

#Importo el archivo de GAMES
games=pd.read_csv("Archivos_Comprimidos/games.csv",encoding="latin-1")

#Importo el archivo de REVIEWS
reviews_prueba= pd.read_parquet("Archivos_Comprimidos/reviews_final.parquet")

#Importo el archivo de ITEMS
items=pd.read_parquet("Archivos_Comprimidos/items.parquet")

#DataFrame joineado para funciones 1) y 2). Voy a unir games con items

In [69]:
# Games:
games.head(2)

,genres,app_name,date,price,item_id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140.0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,Free To Play,643980.0

In [70]:
# Items:
items.head(2)

             user_id item_id              item_name     horas
0  76561197970982479      10         Counter-Strike  0.001667
1  76561197970982479      20  Team Fortress Classic  0.000000

In [71]:
# Reviews
reviews_prueba.head(2)

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.

In [72]:
#Join los dfs: "items" con "games"
#En la tabla items tengo la cantidad de horas jugadas para cada usuario por cada juego (item)
#Asocio a esta tabla el genero del juego
#Las uno mediante item_id 

items['item_id'] = items['item_id'].astype(float) #Necesito igualar el tipo de dato para poder joinear las tablas 

df= pd.merge(items, games, on='item_id', how='inner')

df.tail(3)   #df que voy a utlizar en la funcion

,user_id,item_id,item_name,horas,genres,app_name,date,price
4142660,76561198081168593,375450.0,NOBUNAGA'S AMBITION: Souzou SengokuRisshiden,0.014167,['Strategy'],NOBUNAGA'S AMBITION: Sphere of Influence - Asc...,2016,59.99
4142661,76561198107283457,354280.0,ChaosTower,0.045556,"['Action', 'Casual', 'Indie', 'Simulation']",ChaosTower,2016,5.99
4142662,inven,433920.0,Aveyond 4: Shadow Of The Mist,0.000000,"['Adventure', 'Indie', 'RPG']",Aveyond 4: Shadow of the Mist,2016,14.99

In [80]:
# 1) Paso toda al columna de generos a minuscula 
df['genres'] = df['genres'].str.lower()

# 2) Filtro los valores que contienen el genero que me interesa
genero="casual"
df_filtrado = df[df.filter(like='genres').apply(lambda x: x.str.contains(genero)).any(axis=1)] 
##Me devuelve los balores booleanos True que cumplen la condicion del filtro.


df_filtrado.tail(5)


#Ya seleccione los datos  que necesito. Me falta agruparlos y sumar las horas de juego por año.

# 3) Agrupo los valores por año en cada caso.

,user_id,item_id,item_name,horas,genres,app_name,date,price
4142644,76561198024889756,434820.0,Brushwood Buddies,0.007500,"['casual', 'indie']",Brushwood Buddies,2016,2.99
4142645,HAVEYOuMETTED,510040.0,A Matter of Murder,0.003056,"['adventure', 'casual', 'indie']",A Matter of Murder,2016,2.99
4142648,76561198034355876,305150.0,F-777 Song Pack,0.000000,"['action', 'casual', 'indie']",F-777 Song Pack,2013,0.99
4142651,kch1585,512230.0,Sally's Law,0.000000,"['casual', 'indie']",Sally's Law,2016,3.99
4142661,76561198107283457,354280.0,ChaosTower,0.045556,"['action', 'casual', 'indie', 'simulation']",ChaosTower,2016,5.99