In [6]:
import pandas as pd

#Importo el archivo de GAMES
games=pd.read_csv("Archivos_Comprimidos/games.csv",encoding="latin-1")

#Importo el archivo de REVIEWS
reviews_prueba= pd.read_parquet("Archivos_Comprimidos/reviews_final.parquet")

#Importo el archivo de ITEMS
items=pd.read_csv("Archivos_Comprimidos/items.csv",encoding="latin-1")

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.
2,76561197970982479,2011.0,43110,Great atmosphere. The gunplay can be a bit chu...

In [9]:
#Pruebo todos los archivos
#Primero "Games":
games.head(3)

,genres,app_name,title,release_date,reviews_url,price,id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,Lost Summoner Kitty,2018.0,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,Ironbound,2018.0,http://steamcommunity.com/app/643980/reviews/?...,Free To Play,643980.0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017.0,http://steamcommunity.com/app/670290/reviews/?...,Free to Play,670290.0

In [11]:
#Segundo "Items":
items.head(3)

,user_id,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,10.0,Counter-Strike,6.0,0.0
1,76561197970982479,20.0,Team Fortress Classic,0.0,0.0
2,76561197970982479,30.0,Day of Defeat,7.0,0.0

In [13]:
#Tercero, "Reviews"
reviews_prueba.head(3)

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.
2,76561197970982479,2011.0,43110,Great atmosphere. The gunplay can be a bit chu...

In [4]:
games.id.head(2)

0    761140.0
1    643980.0
Name: id, dtype: float64

In [5]:
games.id.isna().value_counts()

id
False    32133
True         2
Name: count, dtype: int64