In [38]:
import pandas as pd

#Importo el archivo de GAMES
games=pd.read_csv("Archivos_Comprimidos/games.csv",encoding="latin-1")

#Importo el archivo de REVIEWS
reviews_prueba= pd.read_parquet("Archivos_Comprimidos/reviews_final.parquet")

#Importo el archivo de ITEMS
items=pd.read_parquet("Archivos_Comprimidos/items.parquet")

#DataFrame joineado para funciones 1) y 2). Voy a unir games con items

In [39]:
# Games:
games.head(2)

,genres,app_name,date,price,item_id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140.0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,Free To Play,643980.0

In [40]:
# Items:
items.head(2)

             user_id item_id              item_name     horas
0  76561197970982479      10         Counter-Strike  0.001667
1  76561197970982479      20  Team Fortress Classic  0.000000

In [41]:
# Reviews
reviews_prueba.head(2)

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.

In [42]:
#Join los dfs: "items" con "games"
#En la tabla items tengo la cantidad de horas jugadas para cada usuario por cada juego (item)
#Asocio a esta tabla el genero del juego
#Las uno mediante item_id 

items['item_id'] = items['item_id'].astype(float) #Necesito igualar el tipo de dato para poder joinear las tablas 

df= pd.merge(items, games, on='item_id', how='inner')

df.head(3)   #df que voy a utlizar en la funcion

,user_id,item_id,item_name,horas,genres,app_name,date,price
0,76561197970982479,10.0,Counter-Strike,0.001667,['Action'],Counter-Strike,2000,9.99
1,js41637,10.0,Counter-Strike,0.000000,['Action'],Counter-Strike,2000,9.99
2,Riot-Punch,10.0,Counter-Strike,0.000000,['Action'],Counter-Strike,2000,9.99

In [ ]:
#def PlayTimeGenre(genero):             #Comienzo con la primer funcion

genero='Accion'

juegos.tags.apply(lambda x:(genero.capitalize() in x) )