In [1]:
import pandas as pd

#Importo el archivo de GAMES
games=pd.read_csv("Archivos_Comprimidos/games.csv",encoding="latin-1")

#Importo el archivo de REVIEWS
reviews_prueba= pd.read_parquet("Archivos_Comprimidos/reviews_final.parquet")

#Importo el archivo de ITEMS
items=pd.read_parquet("Archivos_Comprimidos/items.parquet")

#DataFrame joineado para funciones 1) y 2). Voy a unir games con items

In [7]:
# Games:
games.head(2)

,genres,app_name,date,price,item_id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140.0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,Free To Play,643980.0

In [8]:
# Items:
items.head(2)

             user_id  item_id              item_name  horas
0  76561197970982479     10.0         Counter-Strike    0.1
1  76561197970982479     20.0  Team Fortress Classic    0.0

In [9]:
# Reviews
reviews_prueba.head(2)

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.

In [10]:
#Join los dfs: "items" con "games"
#En la tabla items tengo la cantidad de horas jugadas para cada usuario por cada juego (item)
#Asocio a esta tabla el genero del juego
#Las uno mediante item_id 

items['item_id'] = items['item_id'].astype(float) #Necesito igualar el tipo de dato para poder joinear las tablas 
df= pd.merge(items, games, on='item_id', how='inner')
df.tail(3)   #df que voy a utlizar en la funcion

,user_id,item_id,item_name,horas,genres,app_name,date,price
4142660,76561198081168593,375450.0,NOBUNAGA'S AMBITION: Souzou SengokuRisshiden,0.850000,['Strategy'],NOBUNAGA'S AMBITION: Sphere of Influence - Asc...,2016,59.99
4142661,76561198107283457,354280.0,ChaosTower,2.733333,"['Action', 'Casual', 'Indie', 'Simulation']",ChaosTower,2016,5.99
4142662,inven,433920.0,Aveyond 4: Shadow Of The Mist,0.000000,"['Adventure', 'Indie', 'RPG']",Aveyond 4: Shadow of the Mist,2016,14.99

In [51]:
# 1) Paso toda al columna de generos a minuscula 
df['genres'] = df['genres'].str.lower()
#df['genres'].tail(5)

# 2) Filtro los valores que contienen el genero que me interesa
genero="casual"
df_filtrado = df[df.filter(like='genres').apply(lambda x: x.str.contains(genero)).any(axis=1)] 
#df_filtrado['genres'].tail(5)
##Me devuelve los valores booleanos True que cumplen la condicion del filtro.


#Ya seleccione los datos  que necesito. Me falta agruparlos y sumar las horas de juego por año.
#3) Agrupo los valores por año en cada caso.

df_ordenado=df_filtrado[["date","horas"]].groupby(["horas"]).sum().sort_values(by='horas',ascending=False)

#df_ordenado.head(10)

df_ordenado.reset_index(inplace=True) #Agrego el indice
df_ordenado.head(10)


#df_filtrado["date"].value_counts()

#df_ordenado['horas'] = df_ordenado['horas'].astype(int)
#mayortiempo=
df_ordenado.head(100)

#print(int(df_ordenado["horas"].iloc[0]))
#print(df_ordenado["date"].iloc[0])


print(f"Año de lanzamiento con más horas jugadas para género {genero}: {df_ordenado.date.iloc[0]}")

Año de lanzamiento con más horas jugadas para género casual: 2012