In [1]:
import pandas as pd

#Importo el archivo de GAMES
games=pd.read_csv("Archivos_Comprimidos/games.csv",encoding="latin-1")

#Importo el archivo de REVIEWS
reviews_prueba= pd.read_parquet("Archivos_Comprimidos/reviews_final.parquet")

#Importo el archivo de ITEMS
items=pd.read_csv("Archivos_Comprimidos/items.csv",encoding="latin-1")

#DataFrame joineado para funciones 1) y 2). Voy a unir games con items

In [2]:
# Pruebo todos los archivos
# Games:
games.head(5)

,genres,app_name,date,price,item_id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,2018,4.99,761140.0
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,2018,Free To Play,643980.0
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,2017,Free to Play,670290.0
3,"['Action', 'Adventure', 'Casual']",å¼¹ç¸äºº2222,2017,0.99,767400.0
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,2018,3.99,772540.0

In [3]:
# Items:
items.head(5)

             user_id  item_id                  item_name  playtime_forever
0  76561197970982479     10.0             Counter-Strike               6.0
1  76561197970982479     20.0      Team Fortress Classic               0.0
2  76561197970982479     30.0              Day of Defeat               7.0
3  76561197970982479     40.0         Deathmatch Classic               0.0
4  76561197970982479     50.0  Half-Life: Opposing Force               0.0

In [4]:
# Reviews
reviews_prueba.head(5)

,user_id,posted,item_id,review
0,76561197970982479,2011.0,1250,Simple yet with great replayability. In my opi...
1,76561197970982479,2011.0,22200,It's unique and worth a playthrough.
2,76561197970982479,2011.0,43110,Great atmosphere. The gunplay can be a bit chu...
3,js41637,2014.0,251610,I know what you think when you see this title ...
4,js41637,2013.0,227300,For a simple (it's actually not all that simpl...

In [12]:
#Join los dfs: "items" con "games"
#En la tabla items tengo la cantidad de horas jugadas para cada usuario por cada juego (item)
#Asocio a esta tabla el genero del juego
#Las uno mediante item_id 

df= pd.merge(items, games, on='item_id', how='inner')

df.tail(3)   #df que voy a utlizar en la funcion

,user_id,item_id,item_name,playtime_forever,genres,app_name,date,price
4142660,76561198081168593,375450.0,NOBUNAGA'S AMBITION: Souzou SengokuRisshiden,51.0,['Strategy'],NOBUNAGA'S AMBITION: Sphere of Influence - Asc...,2016,59.99
4142661,76561198107283457,354280.0,ChaosTower,164.0,"['Action', 'Casual', 'Indie', 'Simulation']",ChaosTower,2016,5.99
4142662,inven,433920.0,Aveyond 4: Shadow Of The Mist,0.0,"['Adventure', 'Indie', 'RPG']",Aveyond 4: Shadow of the Mist,2016,14.99

In [13]:
#Primera Funcion 

#En la columna de genero, por cada fila tengo una lista con distintos generos.
#Como estan en mayusculas y en minusculas, paso todo a min para que se consideren las palabras de la misma forma.
#Dentro de cada elemento de la columna de generos, hay una lista 
#con "apply" y luego "lambda" se aplica una función lambda a cada elemento de la columna 'genres

df['genres'] = df.genres.apply(lambda x: [genres.lower() for genres in x])